/*-*-*-*-*-*-*-*-*-* reset *-*-*-*-*-*-*-*-*-*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-*-*-*-*-*-*-*-*-* reusable components  *-*-*-*-*-*-*-*-*-*/
:root {
    font-size: 62.5%;

    --color-primary: #730039;
    --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
    --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

    --color-secondary: #ffc513;
    --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
    --color-secondary-m-dark: rgba(255, 197, 19, 0.85);

    --color-tertiary: #ff724c;
    --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
    --color-tertiary-m-dark: rgba(255, 115, 77, 0.85);

    --color-quaternary: #f6eedf;
    --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
    --color-quaternary-m-light: rgba(246, 238, 223, 0.85);

    --transition-duration: 0.3s;

    --font-size-title: calc(2rem + 2vw);

    --padding-section: 8vh 3vw;
}

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.7;
    background-color: var(--color-quaternary);
}

a:link,
a:visited {
    color: var(--color-quaternary);
    text-decoration: none;
    font-size: calc(0.5rem + 1vw);
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    position: relative;
    transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
    z-index: 1;
}

p {
    color: white;

    font-size: calc(1rem + 1vw);
    font-weight: 200;
}

li {
    list-style: none;
    margin-bottom: 4rem;
}

i {
    font-size: var(--font-size-title);
    color: var(--color-secondary);
}

/*-*-*-*-*-*-*-*-*-* body container *-*-*-*-*-*-*-*-*-*/

.container {
    display: grid;
    grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
    grid-template-rows: 100vh repeat(8, min-content);
}

/*-*-*-*-*-*-*-*-*-* header section  *-*-*-*-*-*-*-*-*-*/

header#header {
    grid-column: container-start / container-end;

    background: linear-gradient(var(--color-primary-m-light), var(--color-primary-m-light)), url("img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*-*-*-*-*-*-* main-nav header *-*-*-*-*-*-*/

.header__main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

.header__main-nav input[type="checkbox"] {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
}

.header__main-nav__hamburger {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    background-color: var(--color-secondary);
    z-index: 2;

    display: grid;
    place-items: center;

    animation: main-nav__hamburger 2s;
}

@keyframes main-nav__hamburger {
    from {
        transform: translateX(150rem) rotate(180deg);
        opacity: 0;
    }

    to {
        transform: translateX(0rem) rotate(0);
        opacity: 1;
    }
}

.header__main-nav__hamburger>div {
    position: relative;
    height: 0.3rem;
    width: 100%;
    background-color: var(--color-quaternary);
    transition: all var(--transition-duration) ease-in-out;

    display: grid;
    place-items: center;
}

.header__main-nav__hamburger>div::before,
.header__main-nav__hamburger>div::after {
    content: '';
    position: absolute;
    width: 60%;
    height: inherit;
    background-color: inherit;
    z-index: 2;
}

.header__main-nav__hamburger>div::before {
    top: -1rem;
    left: 0;
}

.header__main-nav__hamburger>div::after {
    top: 1rem;
    right: 0;
}

.header__main-nav input[type="checkbox"]:checked+.header__main-nav__hamburger>div {
    transform: rotate(135deg);
}

.header__main-nav input[type="checkbox"]:checked+.header__main-nav__hamburger>div::before {
    left: 0;
    top: 0;
    width: 100%;
    transform: rotate(270deg);
}

.header__main-nav input[type="checkbox"]:checked+.header__main-nav__hamburger>div::after {
    opacity: 0;
}

.header__main-nav input[type="checkbox"]:checked:hover+.header__main-nav__hamburger>div {
    transform: rotate(45deg);
}

.header__main-nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;

    display: grid;
    place-items: center;
}

.header__main-nav__menu>div {
    width: 200%;
    height: 200%;
    background-color: var(--color-secondary-m-dark);
    transform: scaleX(0);
    transition: all var(--transition-duration) ease-in-out;

    display: grid;
    place-items: center;
}

.header__main-nav__menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.header__main-nav input[type="checkbox"]:checked~.header__main-nav__menu {
    visibility: visible;
}

.header__main-nav input[type="checkbox"]:checked~.header__main-nav__menu>div {
    transform: scaleX(1);
}

.header__main-nav input[type="checkbox"]:checked~.header__main-nav__menu>div>div {
    opacity: 1;
    transition-duration: 1s;
}

.header__main-nav__menu ul li a:link,
.header__main-nav__menu ul li a:visited {
    z-index: 5;
    font-size: calc(1.5rem + 0.5vw);
}

.header__main-nav__menu ul li a:link::before,
.header__main-nav__menu ul li a:visited::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-m-dark);
    z-index: -1;
    transform: scaleY(0);
    transition: all var(--transition-duration);
}

.header__main-nav__menu ul li a:hover::before,
.header__main-nav__menu ul li a:active::before {
    transform: scaleY(1);
}

/*-*-*-*-*-*-* main-content header *-*-*-*-*-*-*/

.header__main-content {
    display: grid;
    grid-template-columns: [main-content-start] 1fr [mc-col-start] minmax(30rem, 1fr) [mc-col-end] 1fr [main-content-end];
    grid-template-rows: min-content;
    height: 90%;
    justify-items: center;
}

.header__main-content__logo {
    grid-column: mc-col-start / mc-col-end;
    letter-spacing: 0.2rem;
}

.header__main-content__logo span {
    color: var(--color-tertiary);
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.header__main-content__content {
    grid-column: main-content-start / main-content-end;
}

.header__main-content__content__title {
    font-size: calc(4rem + 4vw);
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    padding: 0 2rem 0 var(--font-size-title);
}

.header__main-content__content__pg {
    font-size: calc(1rem + 2vw);
    font-weight: 500;
    padding: 2vh 2rem 6vh var(--font-size-title);
}

.header__main-content__content__link:link,
.header__main-content__content__link:visited {
    margin-left: var(--font-size-title);
    border: 0.2rem solid var(--color-tertiary);
}

.header__main-content__content__link:link::before,
.header__main-content__content__link:visited::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-tertiary);
    transform: scaleX(0);
    transition: all var(--transition-duration);
    z-index: -1;
}

.header__main-content__content__link:hover::before,
.header__main-content__content__link:active::before {
    transform: scaleY(1);
}

/*-*-*-*-*-*-*-*-*-* booking-content section  *-*-*-*-*-*-*-*-*-*/

section#booking-content {
    grid-column: center-start / col-end 6;
    padding: var(--padding-section);

    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-gap: 2vh;
}

.booking-content__title {
    font-size: var(--font-size-title);
    pad: 0 2rem 1rem;
    font-weight: 300;
    position: relative;
}

.booking-content__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 0.2rem;
    width: 30%;
    background-color: var(--color-secondary);
}

.booking-content__pg {
    padding: 2rem;
}

#booking-content p,
.booking-date__contact p {
    color: var(--color-primary);
}

.booking-content__icons {
    margin-left: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.booking-content__icons__weather,
.booking-content__icons__time {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 10vh;
    justify-items: start;
    align-items: center;
}

/*-*-*-*-*-*-*-*-*-* booking-date section  *-*-*-*-*-*-*-*-*-*/

section#booking-date {
    grid-column: col-start 7 / center-end;
    padding: var(--padding-section);

    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

/*-*-*-*-*-*-* booking-date schedule *-*-*-*-*-*-*/

.booking-date__schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vh;
    place-items: center;
}

.booking-date__schedule__arrival,
.booking-date__schedule__departure,
.booking-date__schedule__guests {
    display: grid;
    grid-row-gap: 3vh;
}

.booking-date__schedule__arrival h5,
.booking-date__schedule__departure h5,
.booking-date__schedule__guests h5 {
    font-size: calc(1rem + 1vw);
    text-align: center;
}

.booking-date__schedule__arrival>div,
.booking-date__schedule__departure>div,
.booking-date__schedule__guests>div {
    background-color: var(--color-secondary);
    padding: 2rem 4rem;
    position: relative;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.booking-date__schedule__arrival>div::before,
.booking-date__schedule__departure>div::before,
.booking-date__schedule__guests>div::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 1.5rem;
    border-style: solid;
    border-color: transparent transparent var(--color-secondary) transparent;
}

.booking-date__schedule__arrival>div p:nth-of-type(2),
.booking-date__schedule__departure>div p:nth-of-type(2),
.booking-date__schedule__guests>div p:nth-of-type(2) {
    font-size: 3rem;
    font-weight: 700;
}

/*-*-*-*-*-*-* booking-date contact *-*-*-*-*-*-*/

.booking-date__contact {
    align-self: end;
}

.booking-date__contact__link:link,
.booking-date__contact__link:visited {
    background-color: var(--color-secondary);
    color: white;
    transition: all var(--transition-duration) ease-in-out;
}

.booking-date__contact__link:hover,
.booking-date__contact__link:active {
    background-color: white;
    color: var(--color-secondary);
    border: 0.1rem solid var(--color-secondary);
}

.booking-date__contact p:first-of-type {
    margin-top: 4rem;
}

.booking-date__contact p:first-of-type,
.booking-date__contact p:nth-of-type(2),
.booking-date__contact p:nth-of-type(3) {
    font-size: 2rem;
}

/*-*-*-*-*-*-*-*-*-* villas section *-*-*-*-*-*-*-*-*-*/

section#villas {
    grid-column: container-start / container-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 2rem;
}

div[class^="villas"] {
    /* any div the class starts with "villas" */
    padding: 2rem;
    background-position: center;
    background-size: cover;
    transition: all var(--transition-duration);
}

div[class^="villas"]:hover,
div[class^="villas"]:active {
    transform: scale(1.05);
}

div[class^="villas"] h2[class^="villas"] {
    /* any h2 the class starts with "villas" */
    font-size: var(--font-size-title);
    padding: 0 2rem 1rem 0;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

div[class^="villas"] p[class^="villas"] {
    /* any p the class starts with "villas" */
    font-size: 2rem;
    margin: 1.5rem 0 4rem 0;
    color: white;
    font-weight: 500;
}

div[class^="villas"] a[class^="villas"]:link,
div[class^="villas"] a[class^="villas"]:visited {
    /* any a the class starts with "villas" */
    display: inline-block;
    margin-bottom: 2rem;
    background-color: white;
    color: var(--color-primary);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

div[class^="villas"] a[class^="villas"]:hover,
div[class^="villas"] a[class^="villas"]:active {
    color: white;
}

div[class^="villas"] a[class^="villas"]:link::before,
div[class^="villas"] a[class^="villas"]:visited::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: var(--color-secondary);
    transition: all var(--transition-duration) ease-in-out;
}

div[class^="villas"]:nth-child(even) a[class^="villas"]:link::before,
div[class^="villas"]:nth-child(even) a[class^="villas"]:visited::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

div[class^="villas"]:nth-child(odd) a[class^="villas"]:link::before,
div[class^="villas"]:nth-child(odd) a[class^="villas"]:visited::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

div[class^="villas"] a[class^="villas"]:hover::before,
div[class^="villas"] a[class^="villas"]:active::before {
    height: 400%;
}

.villas__villa-1 {
    background: linear-gradient(var(--color-primary-m-light),
            var(--color-tertiary-m-light)), url(img/Villas/villa-1.jpg);
}

.villas__villa-2 {
    background: linear-gradient(var(--color-primary-m-light),
            var(--color-tertiary-m-light)), url(img/Villas/villa-2.jpg);
}

.villas__villa-3 {
    background: linear-gradient(var(--color-primary-m-light),
            var(--color-tertiary-m-light)), url(img/Villas/villa-3.jpg);
}

.villas__villa-4 {
    background: linear-gradient(var(--color-primary-m-light),
            var(--color-tertiary-m-light)), url(img/Villas/villa-4.jpg);
}

.villas__villa-5 {
    background: linear-gradient(var(--color-primary-m-light),
            var(--color-tertiary-m-light)), url(img/Villas/villa-5.jpg);
}

.villas__villa-6 {
    background: linear-gradient(var(--color-primary-m-light),
            var(--color-tertiary-m-light)), url(img/Villas/villa-6.jpg);
}

/*-*-*-*-*-*-*-*-*-* motto section *-*-*-*-*-*-*-*-*-*/

section#motto {
    background-color: var(--color-primary);
    grid-column: container-start / container-end;
    padding: 10vh 3vw;
}

.motto__content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.motto__content__title {
    font-size: var(--font-size-title);
    padding: 0 2rem 1rem;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
}

.motto__content__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 0.2rem;
    width: 10%;
    background-color: white;
}

/*-*-*-*-*-*-*-*-*-* events-content section *-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-* features-content section *-*-*-*-*-*-*-*-*-*/

section#events-content,
section#features-content {
    grid-column: container-start / col-end 9;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section#events-content>div,
section#features-content>div {
    padding: var(--padding-section);

    display: grid;
    grid-template-areas:
        'title'
        'pg';
    grid-row-gap: 4vh;
    justify-items: start;
    align-items: center;
}

section#events-content>div:first-child {
    background: linear-gradient(var(--color-tertiary-m-light),
            var(--color-tertiary-m-light)),
        url(img/Events/beach-party.jpg);
    border-right: 0.2rem solid var(--color-tertiary);
}

section#events-content>div:last-child {
    background: linear-gradient(var(--color-tertiary-m-light),
            var(--color-tertiary-m-light)),
        url(img/Events/culture-discovery.jpg);
    border-left: 0.2rem solid var(--color-tertiary);
}

section#events-content>div:first-child,
section#events-content>div:last-child {
    background-position: center;
    background-size: cover;
}

section#events-content>div>h2[class*=title],
section#features-content>div>h2[class*=title] {
    /* any h2 that has the word title in class */
    grid-area: title;
    font-size: var(--font-size-title);
    font-weight: 400;
    color: white;
}

section#events-content>div>p[class*=title],
section#features-content>div>p[class*=title] {
    /* any h2 that has the word title in class */
    grid-area: pg;
    font-weight: 500;
    color: white;
}

/*-*-*-*-*-*-*-*-*-* events-text section *-*-*-*-*-*-*-*-*-*/

section#events-text,
section#features-text {
    background-color: var(--color-tertiary);
    grid-column: col-start 10 / center-end;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.events-text__content,
.features-text__content {
    transform: rotate(0.25turn);
}

.events-text__content__title,
.gallery-text__content__title,
.features-text__content__title {
    font-size: var(--font-size-title);
    font-weight: 500;
    color: white;
    letter-spacing: 0.2rem;
}

/*-*-*-*-*-*-*-*-*-* gallery-text section *-*-*-*-*-*-*-*-*-*/

section#gallery-text {
    background-color: var(--color-primary);
    grid-column: center-start / col-end 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.gallery-text__content {
    transform: rotate(-0.25turn);
}

/*-*-*-*-*-*-*-*-*-* gallery-carousel section *-*-*-*-*-*-*-*-*-*/

section#gallery-carousel {
    background-color: var(--color-tertiary);
    grid-column: col-start 2 / container-end;
    height: 400px;
}

/*-*-*-*-*-*-*-*-*-* features-content section *-*-*-*-*-*-*-*-*-*/

section#features-content>div:first-child {
    background: linear-gradient(var(--color-secondary-m-light),
            var(--color-secondary-m-light)),
        url(img/Features/cocktail.jpg);
    border-right: 0.2rem solid var(--color-secondary);
}

section#features-content>div:last-child {
    background: linear-gradient(var(--color-secondary-m-light),
            var(--color-secondary-m-light)),
        url(img/Features/surfing.jpg);
    border-left: 0.2rem solid var(--color-secondary);
}

section#features-content>div:first-child,
section#features-content>div:last-child {
    background-position: center;
    background-size: cover;
}

/*-*-*-*-*-*-*-*-*-* features-text section *-*-*-*-*-*-*-*-*-*/

section#features-text {
    background-color: var(--color-secondary);
}

/*-*-*-*-*-*-*-*-*-* testemonials section *-*-*-*-*-*-*-*-*-*/

section#testemonials {
    background-color: var(--color-tertiary);
    grid-column: center-start / center-end;
    height: 400px;
}

/*-*-*-*-*-*-*-*-*-* footer section *-*-*-*-*-*-*-*-*-*/

footer#footer {
    background-color: var(--color-primary);
    grid-column: container-start / container-end;
    height: 400px;
}

/*-*-*-*-*-*-*-*-*-* media (max-width: 1000px) *-*-*-*-*-*-*-*-*-*/

@media screen and (max-width: 1000px) {

    a:link,
    a:visited {
        font-size: calc(1rem + 1vw);
    }
}

/*-*-*-*-*-*-*-*-*-* media (max-width: 800px) *-*-*-*-*-*-*-*-*-*/

@media screen and (max-width: 800px) {

    /*-*-*-*-*-*-*-*-* booking-content section  *-*-*-*-*-*-*-*-*/
    section#booking-content {
        padding: 4vh 3vw;
        grid-column: center-start / center-end;
    }

    .booking-content__title {
        text-align: center;
    }

    .booking-content__title::after {
        width: 20%;
        left: 40%;
    }

    /*-*-*-*-*-*-*-*-* booking-date section  *-*-*-*-*-*-*-*-*/

    section#booking-date {
        padding: 4vh 3vw;
        grid-column: center-start / center-end;
        grid-row-gap: 7vh;
    }

    .booking-date__schedule__arrival>div,
    .booking-date__schedule__departure>div,
    .booking-date__schedule__guests>div {
        padding: 2rem;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
        grid-column-gap: 2vw;
        place-items: center;
    }

    /*-*-*-*-*-*-*-*-* villas section  *-*-*-*-*-*-*-*-*/
    section#villas {
        grid-gap: 0;
    }

}

/*-*-*-*-*-*-*-*-*-* media (max-width: 600px) *-*-*-*-*-*-*-*-*-*/

@media screen and (max-width: 600px) {

    /*-*-*-*-*-*-*-*-* header section *-*-*-*-*-*-*-*-*/
    .header__main-content__content__pg {
        font-size: 2rem;
    }

    /*-*-*-*-*-*-*-*-* booking-content section *-*-*-*-*-*-*-*-*/
    .booking-content__pg,
    div[class^="villas"] p[class^="villas"],
    .motto__content__pg,
    section#events-content>div>p[class*=title],
    section#features-content>div>p[class*=title] {
        font-size: 1.5rem;
    }

    /*-*-*-*-*-*-*-*-* booking-date section *-*-*-*-*-*-*-*-*/
    section#booking-date {
        grid-template-rows: repeat(2, max-content);
    }

    .booking-date__schedule__arrival>div,
    .booking-date__schedule__departure>div,
    .booking-date__schedule__guests>div {
        padding: 4rem;
        grid-template-columns: min-content;
    }

    /*-*-*-*-*-*-*-*-* villas section *-*-*-*-*-*-*-*-*/
    div[class^="villas"] p[class^="villas"] {
        margin: 1.5rem 0 4rem 0;
    }


    /*-*-*-*-*-*-*-*-* events-content section *-*-*-*-*-*-*-*-*/
    section#events-text,
    section#gallery-text,
    section#features-text {
        display: none;
    }

    section#events-content,
    section#features-content {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    section#events-content,
    section#gallery-carousel,
    section#features-content {
        grid-column: center-start / center-end;
    }

    section#events-content>div:first-child,
    section#events-content>div:last-child,
    section#features-content>div:first-child,
    section#features-content>div:last-child {
        border: none;
    }
}

/*-*-*-*-*-*-*-*-*-* media (max-width: 400px)  *-*-*-*-*-*-*-*-*-*/

@media screen and (max-width: 400px) {

    /*-*-*-*-*-*-*-*-* booking-date section  *-*-*-*-*-*-*-*-*/
    .booking-date__schedule {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
        grid-row-gap: 4vh;
    }

    .booking-date__contact {
        justify-self: center;
        padding: 0.2rem;
    }

    /*-*-*-*-*-*-*-*-* villas section  *-*-*-*-*-*-*-*-*/
    section#villas {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
}