/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**-*-*-*-*-*-*-*-* reusable components  *-*-*-*-*-*-*-*-*-*/
:root {
    font-size: 62.5%;

    --color-primary: #730039;
    --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
    --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

    --color-secondary: #ffc513;
    --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
    --color-secondary-m-dark: rgba(255, 197, 19, 0.85);

    --color-tertiary: #ff724c;
    --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
    --color-tertiary-m-dark: rgba(255, 115, 77, 0.85);

    --color-quaternary: #f6eedf;
    --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
    --color-quaternary-m-light: rgba(246, 238, 223, 0.85);

    --transition-duration: 0.3s;

    --font-size-title: calc(2rem + 2vw);

    --padding-section: 8vh 3vw;
}

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.7;
    background-color: var(--color-quaternary);
}

a:link,
a:visited {
    color: var(--color-quaternary);
    text-decoration: none;
    font-size: calc(0.5rem + 1vw);
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    position: relative;
    transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
    z-index: 1;
}

p {
    color: white;

    font-size: calc(1rem + 1vw);
    font-weight: 200;
}

li {
    list-style: none;
    margin-bottom: 4rem;
}

i {
    font-size: var(--font-size-title);
    color: var(--color-secondary);
}

/*-*-*-*-*-*-*-*-*-* body container *-*-*-*-*-*-*-*-*-*/

.container {
    display: grid;
    grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
    grid-template-rows: 100vh repeat(8, min-content);
}

/*-*-*-*-*-*-*-*-*-* header section  *-*-*-*-*-*-*-*-*-*/

header#header {
    grid-column: container-start / container-end;

    background: linear-gradient(var(--color-primary-m-light), var(--color-primary-m-light)), url("img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*-*-*-*-*-*-* main-nav header *-*-*-*-*-*-*/

.header__main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header__main-nav input[type="checkbox"] {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
}

.header__main-nav__hamburger {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    background-color: var(--color-secondary);
    z-index: 2;

    display: grid;
    place-items: center;

    animation: main-nav__hamburger 2s;
}

@keyframes main-nav__hamburger {
    from {
        transform: translateX(150rem) rotate(180deg);
        opacity: 0;
    }

    to {
        transform: translateX(0rem) rotate(0);
        opacity: 1;
    }
}

.header__main-nav__hamburger>div {
    position: relative;
    height: 0.3rem;
    width: 100%;
    background-color: var(--color-quaternary);
    transition: all var(--transition-duration) ease-in-out;

    display: grid;
    place-items: center;
}

.header__main-nav__hamburger>div::before,
.header__main-nav__hamburger>div::after {
    content: '';
    position: absolute;
    width: 60%;
    height: inherit;
    background-color: inherit;
    z-index: 2;
}

.header__main-nav__hamburger>div::before {
    top: -1rem;
    left: 0;
}

.header__main-nav__hamburger>div::after {
    top: 1rem;
    right: 0;
}

.header__main-nav input[type="checkbox"]:checked+.header__main-nav__hamburger>div {
    transform: rotate(135deg);
}

.header__main-nav input[type="checkbox"]:checked+.header__main-nav__hamburger>div::before {
    left: 0;
    top: 0;
    width: 100%;
    transform: rotate(270deg);
}

.header__main-nav input[type="checkbox"]:checked+.header__main-nav__hamburger>div::after {
    opacity: 0;
}

.header__main-nav input[type="checkbox"]:checked:hover+.header__main-nav__hamburger>div {
    transform: rotate(45deg);
}

.header__main-nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;

    display: grid;
    place-items: center;
}

.header__main-nav__menu>div {
    width: 200%;
    height: 200%;
    background-color: var(--color-secondary-m-dark);
    transform: scaleX(0);
    transition: all var(--transition-duration) ease-in-out;

    display: grid;
    place-items: center;
}

.header__main-nav__menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.header__main-nav input[type="checkbox"]:checked~.header__main-nav__menu {
    visibility: visible;
}

.header__main-nav input[type="checkbox"]:checked~.header__main-nav__menu>div {
    transform: scaleX(1);
}

.header__main-nav input[type="checkbox"]:checked~.header__main-nav__menu>div>div {
    opacity: 1;
    transition-duration: 1s;
}

.header__main-nav__menu ul li a:link,
.header__main-nav__menu ul li a:visited {
    z-index: 5;
    font-size: calc(1.5rem + 0.5vw);
}

.header__main-nav__menu ul li a:link::before,
.header__main-nav__menu ul li a:visited::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-m-dark);
    z-index: -1;
    transform: scaleY(0);
    transition: all var(--transition-duration);
}

.header__main-nav__menu ul li a:hover::before,
.header__main-nav__menu ul li a:active::before {
    transform: scaleY(1);
}

/*-*-*-*-*-*-* main-content header *-*-*-*-*-*-*/

.header__main-content {
    display: grid;
    grid-template-columns: [main-content-start] 1fr [mc-col-start] minmax(30rem, 1fr) [mc-col-end] 1fr [main-content-end];
    grid-template-rows: min-content;
    height: 90%;
    justify-items: center;
}

.header__main-content__logo {
    grid-column: mc-col-start / mc-col-end;
    letter-spacing: 0.2rem;
}

.header__main-content__logo span {
    color: var(--color-tertiary);
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.header__main-content__content {
    grid-column: main-content-start / main-content-end;
}

.header__main-content__content__title {
    font-size: calc(4rem + 4vw);
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    padding: 0 2rem 0 var(--font-size-title);
}

.header__main-content__content__pg {
    font-size: calc(1rem + 2vw);
    font-weight: 500;
    padding: 2vh 2rem 6vh var(--font-size-title);
}

.header__main-content__content__link:link,
.header__main-content__content__link:visited {
    margin-left: var(--font-size-title);
    border: 0.2rem solid var(--color-tertiary);
}

.header__main-content__content__link:link::before,
.header__main-content__content__link:visited::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-tertiary);
    transform: scaleX(0);
    transition: all var(--transition-duration);
    z-index: -1;
}

.header__main-content__content__link:hover::before,
.header__main-content__content__link:active::before {
    transform: scaleY(1);
}

/**-*-*-*-*-*-*-*-* booking-content section  *-*-*-*-*-*-*-*-*-*/

section#booking-content {
    grid-column: center-start / col-end 6;
    padding: var(--padding-section);

    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-gap: 2vh;
}

.booking-content__title {
    font-size: var(--font-size-title);
    pad: 0 2rem 1rem;
    font-weight: 300;
    position: relative;
}

.booking-content__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 0.2rem;
    width: 30%;
    background-color: var(--color-secondary);
}

.booking-content__pg {
    padding: 2rem;
}

#booking-content p {
    color: var(--color-primary);
}

.booking-content__icons {
    margin-left: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.booking-content__icons__weather,
.booking-content__icons__time {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 10vh;
    justify-items: start;
    align-items: center;
}

/**-*-*-*-*-*-*-*-* booking-content section  *-*-*-*-*-*-*-*-*-*/

section#booking-date {
    background-color: var(--color-tertiary);
    grid-column: col-start 7 / center-end;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* villas section  *-*-*-*-*-*-*-*-*-*/

section#villas {
    background-color: var(--color-primary);
    grid-column: container-start / container-end;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* motto section  *-*-*-*-*-*-*-*-*-*/

section#motto {
    background-color: var(--color-secondary);
    grid-column: container-start / container-end;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* events-content section  *-*-*-*-*-*-*-*-*-*/

section#events-content {
    background-color: var(--color-tertiary);
    grid-column: container-start / col-end 9;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* events-text section  *-*-*-*-*-*-*-*-*-*/

section#events-text {
    background-color: var(--color-primary);
    grid-column: col-start 10 / center-end;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* gallery-text section  *-*-*-*-*-*-*-*-*-*/

section#gallery-text {
    background-color: var(--color-secondary);
    grid-column: center-start / col-end 1;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* gallery-carousel section  *-*-*-*-*-*-*-*-*-*/

section#gallery-carousel {
    background-color: var(--color-tertiary);
    grid-column: col-start 2 / container-end;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* features-content section  *-*-*-*-*-*-*-*-*-*/

section#features-content {
    background-color: var(--color-primary);
    grid-column: container-start / col-end 9;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* features-text section  *-*-*-*-*-*-*-*-*-*/

section#features-text {
    background-color: var(--color-secondary);
    grid-column: col-start 10 / center-end;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* testemonials section  *-*-*-*-*-*-*-*-*-*/

section#testemonials {
    background-color: var(--color-tertiary);
    grid-column: center-start / center-end;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* footer section  *-*-*-*-*-*-*-*-*-*/

footer#footer {
    background-color: var(--color-primary);
    grid-column: container-start / container-end;
    height: 400px;
}

/**-*-*-*-*-*-*-*-* media (max-width: 1000px)  *-*-*-*-*-*-*-*-*-*/

@media screen and (max-width: 1000px) {
    a:link,
    a:visited {
        font-size: calc(1rem + 1vw);
    }
}

/**-*-*-*-*-*-*-*-* media (max-width: 600px)  *-*-*-*-*-*-*-*-*-*/

@media screen and (max-width: 600px) {
    /**-*-*-*-*-*-*-*-* header section  *-*-*-*-*-*-*-*-*-*/
    .header__main-content__content__pg {
        font-size: 2rem;
    }
}