@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: #014d4e;
    --secondary-color: #ff9408;
    --secondary-color-m: #ff94088e;
    --tertiary-color: #017374;
    --tertiary-color-m: #01727498;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;

    display: flex;
}

li {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

/*-*-*-*-*-*-*-*-*-* aside *-*-*-*-*-*-*-*-*-*/

aside#side-nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

div.side-nav__content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--primary-color);
}

div.side-nav__content__logo img {
    width: calc(3vw + 3vh);
    height: calc(3vw + 3vh);

    object-fit: cover;
}

ul.side-nav__content__social {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

ul.side-nav__content__social a i {
    /*2rem => 1rem + (10px/1500px) * 100 => dinamic*/
    font-size: calc(1rem + 0.6667vw);
    color: white;
    padding-bottom: calc(2rem + 0.6667vw);

    transition: all .25s;
}

ul.side-nav__content__social a i:hover,
ul.side-nav__content__social a i:active {
    color: var(--secondary-color);
}

/*-*-*-*-*-*-*-*-*-* main *-*-*-*-*-*-*-*-*-*/

main {
    flex: 1;
}

/*-*-*-*-*-*-*-*-*-* nav header *-*-*-*-*-*-*-*-*-*/

header#header {
    background-color: var(--secondary-color);
    height: calc(3vw + 3vh);
    z-index: 2;
}

nav#header__nav {
    height: 100%;
}

ul.header__nav__links {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.header__nav__links li {
    padding-right: 3vw;
}

ul.header__nav__links li a {
    position: relative;
    padding: 0.2rem 0.6rem;
    font-size: calc(1rem + 0.6667vw);
}

ul.header__nav__links li a::before,
ul.header__nav__links li a::after {
    content: '';
    width: 100%;
    height: 0.2rem;
    position: absolute;
    left: 0;
    background-color: white;
    transition: all .4s;
    transform: scaleX(0);
}

ul.header__nav__links li a::before {
    top: 0;
    transform-origin: left;
}

ul.header__nav__links li a::after {
    bottom: 0;
    transform-origin: right;
}

ul.header__nav__links li a:hover::before,
ul.header__nav__links li a:hover::after {
    transform: scaleX(1);
}

/*-*-*-*-*-*-*-*-*-* hero section *-*-*-*-*-*-*-*-*-*/

section#showcase {
    height: 100vh;

    background-image: url('img/background-image.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.showcase__content {
    background-color: var(--secondary-color-m);
    padding: calc(1rem + 2vw);
    height: calc(5rem + 20vmax);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    animation: content 2s;
}

@keyframes content {
    0% {
        transform: translateX(100rem) rotateZ(360deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.showcase__content__title {
    font-size: calc(2rem + 3vw);
    color: white;
}

.showcase__content__pg {
    font-family: 'Indie Flower', cursive;
    font-size: calc(1.5rem + 1vw);
    color: white;
}

.showcase__content__link:link,
.showcase__content__link:visited {
    padding: 1rem 0;
    transition: all .4s;
    width: 9rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    position: relative;

    z-index: 1;
}

.showcase__content__link::after {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--primary-color);

    transform: scaleX(0);
    transform-origin: left;
    transition: all .45s;

    z-index: -1;
}

.showcase__content__link:hover::after {
    transform: scaleX(1);
}

/*-*-*-*-*-*-*-*-*-* work section *-*-*-*-*-*-*-*-*-*/

section#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 2rem;
    background-color: var(--tertiary-color);
}

div.work__card {
    padding: 2rem;
    flex-basis: 40rem;
    flex-grow: 1;

    clip-path: polygon(20% 0%,
            80% 0%,
            100% 20%,
            100% 80%,
            80% 100%,
            20% 100%,
            0% 80%,
            0% 20%);
}

div.work__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: all .45s;
}

div.work__card img:hover {
    filter: sepia(100%);
}

/*-*-*-*-*-*-*-*-*-* about-me section *-*-*-*-*-*-*-*-*-*/

section#about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 2rem;
    background-color: var(--secondary-color);
}

div.about-me__img,
div.about-me__content {
    flex-basis: 40rem;
    padding: 2rem;
    flex-grow: 1;
}

div.about-me__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me__content__title {
    font-size: 4rem;
    padding: 1rem 0;
    color: white;
    text-transform: uppercase;

    position: relative;
}

.about-me__content__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.3rem;
    width: 10%;
    background-color: var(--primary-color);
}

.about-me__content__link {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    position: relative;
    z-index: 1;
}

.about-me__content__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transform: scaleY(0);
    transform-origin: top;
    transition: all .5s;
    z-index: -1;
}

.about-me__content__link:hover::after {
    transform: scaleY(1);
    transform-origin: bottom;
}

.about-me__content__title,
.about-me__content__pg {
    margin-bottom: 4rem;
    letter-spacing: 0.2rem;
}

.about-me__content__pg {
    font-size: 1.8rem;
    font-family: 'Indie Flower', cursive;
}

/*-*-*-*-*-*-*-*-*-* services section *-*-*-*-*-*-*-*-*-*/

section#services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 6rem 2rem 2rem;
    background-color: var(--primary-color);
}

.service {
    padding: 4rem;
    margin: 0 2rem 4rem;
    flex-basis: 40rem;
    flex-grow: 1;
    background-color: var(--secondary-color);
    border-bottom: 0.2rem solid var(--secondary-color);
    border-left: 0.2rem solid var(--secondary-color);
    border-right: 0.2rem solid var(--secondary-color);

    position: relative;
    z-index: 1;
}

.service::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    transform: scaleX(0);
    transition: all .4s;
}

.service:hover::after {
    transform: scaleX(1);
}

.service i,
.service .service__title {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.service i {
    color: white;
}

.service__title {
    text-transform: uppercase;
}

.service__pg {
    font-family: "Indie Flower", cursive;
    font-size: 2rem;
    color: white;
}

/*-*-*-*-*-*-*-*-*-* skills section *-*-*-*-*-*-*-*-*-*/

section#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: calc(1rem + 2vw);
    background-color: var(--tertiary-color);
}

.skills__design,
.skills__coding {
    padding: calc(1rem + 2vw);
    text-transform: uppercase;
    flex-basis: 40rem;
    flex-grow: 1;
}

.skills__design__title,
.skills__coding__title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.skills__design h4,
.skills__coding h4 {
    font-size: 2rem;
    color: white;
}

.skills__design__progress, 
.skills__coding__progress {
    position: relative;
    display: block;
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: var(--primary-color);
    width: 100%;
    margin-bottom: 2rem;
}

.skills__design__progress span, 
.skills__coding__progress span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 2rem;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--secondary-color);
}

.skills__design__progress-1 {
    animation: design-1 4s infinite ease-in-out;
}

@keyframes design-1 {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

.skills__design__progress-2 {
    animation: design-2 4s infinite ease-in-out;
}

@keyframes design-2 {
    0% {
        width: 0;
    }
    100% {
        width: 75%;
    }
}

.skills__design__progress-3 {
    animation: design-3 4s infinite ease-in-out;
}

@keyframes design-3 {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}

.skills__design__progress-4 {
    animation: design-4 4s infinite ease-in-out;
}

@keyframes design-4 {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

.skills__coding__progress-1 {
    animation: coding-1 4s infinite ease-in-out;
}

@keyframes coding-1 {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}

.skills__coding__progress-2 {
    animation: coding-2 4s infinite ease-in-out;
}

@keyframes coding-2 {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

.skills__coding__progress-3 {
    animation: coding-3 4s infinite ease-in-out;
}

@keyframes coding-3 {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

.skills__coding__progress-4 {
    animation: coding-4 4s infinite ease-in-out;
}

@keyframes coding-4 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

/*-*-*-*-*-*-*-*-*-* testemonials section *-*-*-*-*-*-*-*-*-*/

section#testemonials {
    padding: calc(1rem + 2vw);
    background-color: var(--secondary-color);
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.testemonials__card {
    padding: 2vw;
    flex-basis: 50rem;
    flex-grow: 1;

    position: relative;
    overflow: hidden;
}

.testemonials__card__img {
    width: 100%;
    height: 100%;
}

.testemonials__card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s;
}

.testemonials__card__content {
    position: absolute;
    top: 60%;
    left: 0;
    width: 80%;
    background-color: var(--tertiary-color-m);
    padding: 1.5rem;

    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    transition: all .35s;
}

.testemonials__card:hover .testemonials__card__content {
    transform: scaleY(1);
    opacity: 1;
}

.testemonials__card__content__title {
    font-size: 3rem;
    text-transform: uppercase;
}

.testemonials__card__content__pg {
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
}

/*-*-*-*-*-*-*-*-*-* contact section *-*-*-*-*-*-*-*-*-*/

section#contact {
    height: 100vh;
    background-image: url("img/background-image.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.contact__form {
    flex-basis: 40rem;

    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color-m);
}

.contact__form input,
.contact__form textarea {
    color: white;
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid var(--secondary-color);
}

.contact__form textarea {
    height: 30vh;
}

.contact__form input[type="submit"] {
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 1510px) {
    body {
        width: 1510px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px) {
    section#showcase {
        background-position: 100%;
        align-items: flex-end;
    }
}

@media screen and (max-width: 600px) {
    header#header {
        position: absolute;
    }

    nav#header__nav {
        width: 30rem;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        background-color: var(--secondary-color);
        text-align: center;
    }

    div.header__nav__hamburger {
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 2rem;
        right: 3rem;
        cursor: pointer;
        background-color: var(--secondary-color);
        padding: 1rem;
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .line {
        width: 100%;
        height: 0.3rem;
        background-color: white;
        border-radius: 0.2rem;
        transition: all .4s;
    }

    ul.header__nav__links {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    ul.header__nav__links li {
        margin-bottom: 4vh;
        margin-left: 6vw;
    }

    .clicked {
        left: 50%;
    }

    .clicked .line-1 {
        transform: rotateZ(-45deg) translate(-0.6rem, 0.8rem);
    }

    .clicked .line-2 {
        opacity: 0;
    }

    .clicked .line-3 {
        transform: rotateZ(45deg) translate(-0.6rem, -0.8rem);
    }

    section#showcase {
        background-position: 100%;
        align-items: flex-end;
    }

    section#services {
        padding: 6rem 3rem 2rem;
    }

    .service {
        padding: calc(1rem + 2vw);
        margin: 0 0 calc(1rem + 2vw);
    }

    .service__title,
    .skills__design__title,
    .skills__coding__title,
    .testemonials__card__content__title {
        font-size: calc(1.2rem + 2vw);
    }

    .service__pg,
    .skills__design h4,
    .skills__coding h4,
    .testemonials__card__content__pg {
        font-size: calc(0.8rem + 1.5vw);
    }
}

@media screen and (max-width: 460px) {
    .testemonials__card__content {
        top: 0;
        width: 100%;
        height: 100%;
    }

    section#contact {
        background-position: 10% 5%;
    }
}